#title{
  background-color: #FF4C68
}
.Heading{
  font-family: Montserrat-black, arial, sans-serif;
  font-size: 3rem;
  line-height: 1.5
}
.Download{
  font-family: Ubuntu, arial, sans-serif;
}
.container-fluid{
  padding: 3% 15%;
}
